from datetime import datetime

items = [
    {"name": "Widget A", "quantity": 10, "price": 2.5},
    {"name": "Widget B", "quantity": 5, "price": 15.75},
    {"name": "Gadget", "quantity": 2, "price": 99.99}
]

def print_invoice(invoice_date, items):
    pass

In [14]:
from datetime import datetime

items = [
    {"name": "Widget A", "quantity": 10, "price": 2.5},
    {"name": "Widget B", "quantity": 5, "price": 15.75},
    {"name": "Gadget", "quantity": 2, "price": 99.99},
]
invoice_date = datetime.now()


def date_formatter(date):
    return f"Invoice Date: {date: %d %B %Y}"


# def header_formatter1():
#     return "\nProduct        Qty     Unit Price    Total\n" + "-" * 43


def header_formatter():
    return f"""
Product        Qty     Unit Price    Total
{"-" * 43}"""

def rows_formatter(items):
    for item in items:
        product = item["name"]
        qty = item["quantity"]
        price = item["price"]
        total = item["quantity"] * item["price"]
        print(f"{product:<15}{qty:>4}{price:>10.2f}{total:>12.2f}")

def footer_formatter(items):
    grand_total = sum(item["quantity"] * item["price"] for item in items)
    return f"""{"-" * 43}
Grand Total {grand_total:>30.2f}"""

def print_invoice(invoice_date, items):
    print(date_formatter(invoice_date))
    print(header_formatter())
    rows_formatter(items)
    print(footer_formatter(items))

print_invoice(invoice_date, items)

Invoice Date:  04 March 2025

Product        Qty     Unit Price    Total
-------------------------------------------
Widget A         10      2.50       25.00
Widget B          5     15.75       78.75
Gadget            2     99.99      199.98
-------------------------------------------
Grand Total                         303.73

In [35]:
price = 200


def get_price(price):
    print("The old price is: ", price)
    price = 100  # Reassignment
    print("The new price is: ", price)


get_price(600)

The old price is:  600
The new price is:  100

In [36]:
t1= True
if t1:
    x = "abc"

print(x)

abc

In [40]:
def f1():
    def f2():
        return "Hi"
    return f2

f1()()

'Hi'

In [ ]:
def add(n1, n2):
    return n1 + n2

add1 = lambda n1,n2: n1 +n2

avengers = [
    "Hulk",
    "Iron man",
    "Black widow",
    "Captain america",
    "Spider man",
    "Thor",
]

# Task (map or filter)
# Number letter in the name
# [4, 8, 11, 15, 10, 4]

In [ ]:
#Task 1.1

avengers = [
    "Hulk",
    "Iron man",
    "Black widow",
    "Captain america",
    "Spider man",
    "Thor",
]

avengers_letter = (map(lambda avengers:len(avengers),avengers))
print(list(avengers_letter))

[4, 8, 11, 15, 10, 4]

Task 1.2
 
Find longer names more the 10 letters name and stored in a new list
 
Output
["Black widow", "Captain america"]

In [ ]:
# Task 1.2

avengers = [
    "Hulk",
    "Iron man",
    "Black widow",
    "Captain america",
    "Spider man",
    "Thor",
]

long_names = list(filter(lambda avengers: len(avengers) > 10, avengers))
print(long_names)

['Black widow', 'Captain america']

## Task 1.3

Find the passed student's names (pass criteria >= 40)

Output
["Lillian Ellis", "Debra Beard",  "Nettie Hancock" ]

Clue:
combination of map & filter

In [49]:
scores = [
    {
        "marks": 32,
        "name": "Yvette Merritt",
    },
    {
        "marks": 57,
        "name": "Lillian Ellis",
    },
    {
        "marks": 22,
        "name": "Mccall Carter",
    },
    {
        "marks": 21,
        "name": "Pate Collier",
    },
    {
        "marks": 91,
        "name": "Debra Beard",
    },
    {
        "marks": 75,
        "name": "Nettie Hancock",
    },
    {
        "marks": 20,
        "name": "Hatfield Hodge",
    },
]


passed_students = filter(lambda student: student['marks'] >= 40, scores)
passed_students = list(map(lambda student: student['name'],passed_students))

print(passed_students)

['Lillian Ellis', 'Debra Beard', 'Nettie Hancock']

## Task 1.4
Find the topper

Clue:
Use sorted()

Output
Debra Beard

In [ ]:
scores = [
    {
        "marks": 32,
        "name": "Yvette Merritt",
    },
    {
        "marks": 57,
        "name": "Lillian Ellis",
    },
    {
        "marks": 22,
        "name": "Mccall Carter",
    },
    {
        "marks": 21,
        "name": "Pate Collier",
    },
    {
        "marks": 91,
        "name": "Debra Beard",
    },
    {
        "marks": 75,
        "name": "Nettie Hancock",
    },
    {
        "marks": 20,
        "name": "Hatfield Hodge",
    },
]