# Occupation

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import requests

### Step 2. Import the dataset from data.csv

In [ ]:
users_df = pd.read_csv("./data.csv")

users_df

### Step 3. List first rows

In [ ]:
users_df.head(5)

### Step 4. Last Ten rows

In [ ]:
users_df.tail(10)

### Step 5. Assign it to a variable called users.

In [ ]:
users_df.info()

In [ ]:
users_df.describe()

### Step 6. Discover what is the mean age per occupation

In [ ]:
users_df.groupby("occupation")["age"].mean()

### Step 7. For each occupation, calculate the minimum and maximum ages

In [ ]:
users_df.groupby("occupation").aggregate({"age": ["min", "max"]})

### Step 8. For each combination of occupation and gender, calculate the mean age

In [ ]:
users_df.groupby(['occupation', 'gender'])['age'].mean().unstack()

### Step 9.  For each occupation present the number of women and men

In [19]:
users_df.groupby(
    [
        "occupation",
        "gender",
    ]
).aggregate({"gender": "sum"}).unstack()

                                                          gender  \
gender                                                         F
occupation
administrator               FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
artist                                             FFFFFFFFFFFFF
doctor                                                       NaN
educator                              FFFFFFFFFFFFFFFFFFFFFFFFFF
engineer                                                      FF
entertainment                                                 FF
executive                                                    FFF
healthcare                                           FFFFFFFFFFF
homemaker                                                 FFFFFF
lawyer                                                        FF
librarian                          FFFFFFFFFFFFFFFFFFFFFFFFFFFFF
marketing                                             FFFFFFFFFF
none                                                        FFFF
other                       FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
programmer                                                FFFFFF
retired                                                        F
salesman                                                     FFF
scientist                                                    FFF
student        FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF...
technician                                                     F
writer                                       FFFFFFFFFFFFFFFFFFF


gender                                                         M
occupation
administrator        MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
artist                                           MMMMMMMMMMMMMMM
doctor                                                   MMMMMMM
educator       MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...
engineer       MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...
entertainment                                   MMMMMMMMMMMMMMMM
executive                          MMMMMMMMMMMMMMMMMMMMMMMMMMMMM
healthcare                                                 MMMMM
homemaker                                                      M
lawyer                                                MMMMMMMMMM
librarian                                 MMMMMMMMMMMMMMMMMMMMMM
marketing                                       MMMMMMMMMMMMMMMM
none                                                       MMMMM
other          MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...
programmer     MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...
retired                                            MMMMMMMMMMMMM
salesman                                               MMMMMMMMM
scientist                           MMMMMMMMMMMMMMMMMMMMMMMMMMMM
student        MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...
technician                            MMMMMMMMMMMMMMMMMMMMMMMMMM
writer                                MMMMMMMMMMMMMMMMMMMMMMMMMM

### Step 10. Displays the distribution of ages using histogram

In [ ]:
import matplotlib.pyplot as plt

plt.hist(
    users_df["age"],
    color="orange",
    bins=25,
)
plt.xlabel("distribution of ages")
plt.ylabel("Frequency")
plt.xticks(rotation=45)