# Task 1 - With List Comp
# Output
# ["Inception", "Interstellar", "Dunkirk", "The Dark Knight", "Memento"]
movies = [
    {
        "title": "Inception",
        "ratings": [5, 4, 5, 4, 5]
    },
    {
        "title": "Interstellar",
        "ratings": [5, 5, 4, 5, 4]
    },
    {
        "title": "Dunkirk",
        "ratings": [4, 4, 4, 3, 4]
    },
    {
        "title": "The Dark Knight",
        "ratings": [5, 5, 5, 5, 5]
    },
    {
        "title": "Memento",
        "ratings": [4, 5, 4, 5, 4]
    },
]

In [ ]:
movies = [
    {"title": "Inception", "ratings": [5, 4, 5, 4, 5]},
    {"title": "Interstellar", "ratings": [5, 5, 4, 5, 4]},
    {"title": "Dunkirk", "ratings": [4, 4, 4, 3, 4]},
    {"title": "The Dark Knight", "ratings": [5, 5, 5, 5, 5]},
    {"title": "Memento", "ratings": [4, 5, 4, 5, 4]},
]

movie_tittles = []
for movie in movies:
   movie_tittles.append(movie["title"])

print(movie_tittles)

In [ ]:
movies = [
    {"title": "Inception", "ratings": [5, 4, 5, 4, 5]},
    {"title": "Interstellar", "ratings": [5, 5, 4, 5, 4]},
    {"title": "Dunkirk", "ratings": [4, 4, 4, 3, 4]},
    {"title": "The Dark Knight", "ratings": [5, 5, 5, 5, 5]},
    {"title": "Memento", "ratings": [4, 5, 4, 5, 4]},
]

movie_tittles = [(movie["title"]) for movie in movies]
print(movie_tittles)

In [ ]:
movies = [
    {"title": "Inception", "ratings": [5, 4, 5, 4, 5]},
    {"title": "Interstellar", "ratings": [5, 5, 4, 5, 4]},
    {"title": "Dunkirk", "ratings": [4, 4, 4, 3, 4]},
    {"title": "The Dark Knight", "ratings": [5, 5, 5, 5, 5]},
    {"title": "Memento", "ratings": [4, 5, 4, 5, 4]},
]

average_ratings = []
for movie in movies:
    ratings = movie["ratings"]
    avg = sum(ratings)/len(ratings)
    average_ratings.append(avg)

print(average_ratings)

In [ ]:
movies = [
    {"title": "Inception", "ratings": [5, 4, 5, 4, 5]},
    {"title": "Interstellar", "ratings": [5, 5, 4, 5, 4]},
    {"title": "Dunkirk", "ratings": [4, 4, 4, 3, 4]},
    {"title": "The Dark Knight", "ratings": [5, 5, 5, 5, 5]},
    {"title": "Memento", "ratings": [4, 5, 4, 5, 4]},
]

average_ratings = [sum(movie["ratings"]) / len(movie["ratings"]) for movie in movies]
print(average_ratings)

## Task 1.3 
Don't modify original movies list

### Output

```py
[
    {
        "title": "Inception",
        "ratings": [5, 4, 5, 4, 5],
        "average_rating": 4.6
    },
    {
        "title": "Interstellar",
        "ratings": [5, 5, 4, 5, 4],
        "average_rating": 4.2
    },
    {
        "title": "Dunkirk",
        "ratings": [4, 4, 4, 3, 4],
        "average_rating": 4.1
    },
    {
        "title": "The Dark Knight",
        "ratings": [5, 5, 5, 5, 5],
        "average_rating": 5
    },
    {
        "title": "Memento",
        "ratings": [4, 5, 4, 5, 4],
        "average_rating": 4.2
    },
]
```

In [ ]:



movies = [
    {"title": "Inception", "ratings": [5, 4, 5, 4, 5]},
    {"title": "Interstellar", "ratings": [5, 5, 4, 5, 4]},
    {"title": "Dunkirk", "ratings": [4, 4, 4, 3, 4]},
    {"title": "The Dark Knight", "ratings": [5, 5, 5, 5, 5]},
    {"title": "Memento", "ratings": [4, 5, 4, 5, 4]},
]

updated_movies = []
for movie in movies:
    avg = sum(ratings) / len(ratings)
    updated_movie = movie.copy()
    updated_movie["average_rating"] = avg
    updated_movies.append(updated_movie)
print(updated_movies)

In [ ]:
movies = [
    {"title": "Inception", "ratings": [5, 4, 5, 4, 5]},
    {"title": "Interstellar", "ratings": [5, 5, 4, 5, 4]},
    {"title": "Dunkirk", "ratings": [4, 4, 4, 3, 4]},
    {"title": "The Dark Knight", "ratings": [5, 5, 5, 5, 5]},
    {"title": "Memento", "ratings": [4, 5, 4, 5, 4]},
]

updated_movies = [{**movie, "average_ratings": sum(movie["ratings"]) / len(movie["ratings"])} for movie in movies]
print(updated_movies)

In [ ]:
movies = [
    {"title": "Inception", "ratings": [5, 4, 5, 4, 5]},
    {"title": "Interstellar", "ratings": [5, 5, 4, 5, 4]},
    {"title": "Dunkirk", "ratings": [4, 4, 4, 3, 4]},
    {"title": "The Dark Knight", "ratings": [5, 5, 5, 5, 5]},
    {"title": "Memento", "ratings": [4, 5, 4, 5, 4]},
]

updated_movies = [
    {movie["title"], "average_ratings": sum(movie["ratings"]) / len(movie["ratings"])}
    for movie in movies
]
print(updated_movies)

## Task 1.4
Need top rated movies: average_rating >= 4.6

### Output
`["Inception", "The Dark Knight"]`

In [ ]:
movies = [
    {"title": "Inception", "ratings": [5, 4, 5, 4, 5]},
    {"title": "Interstellar", "ratings": [5, 5, 4, 5, 4]},
    {"title": "Dunkirk", "ratings": [4, 4, 4, 3, 4]},
    {"title": "The Dark Knight", "ratings": [5, 5, 5, 5, 5]},
    {"title": "Memento", "ratings": [4, 5, 4, 5, 4]},
]

updated_movies = [
    {**movie, "average_ratings": sum(movie["ratings"]) / len(movie["ratings"])}
    for movie in movies
    if sum(movie["ratings"]) / len(movie["ratings"]) >= 4.6
]
print([movie["title"] for movie in updated_movies])

In [ ]:
captain_america = {
    "name": "Steve Rogers ğŸ¦¸â€â™‚ï¸",
    "age": 100,
    "height": 185,
    "address": {"city": "Brooklyn", "country": "US"},
}


spiderman = {
    "name": "Peter Parker",
    "age": 18,
    "team_name": "Avengers",
    "team": ["Iron Man", "Thor", "Hulk", "Captain America"],
}

hulk = {
    "name": "Bruce Banner",
    "age": 35,
}

heroes = [captain_america, spiderman, hulk]

for hero in heroes:
    name = hero.get("name")
    city = hero.get("address", {}).get("city")
    if city != None:
        print(f"{name} lives in {city}")
    else:
        print(f"{name} location is Top Secret ğŸ”’")

# Task
# Creating the below dictionary with for loop

{"1": 1, "2": 4, "3": 9, "4": 16, "5": 25}

In [ ]:
new_dictionary = {}
for i in range(1,6):
    new_dictionary[str(i)] = i **2

print(new_dictionary)

In [ ]:
new_dictionary = {i: i**2 for i in range(1, 25) if i % 2 == 0}
new_dictionary

In [ ]:
new_dictionary = { i: "Even" if i % 2 == 0 else "odd" for i in range(1, 11)}
new_dictionary

### Task 1.2: Filtering Fruits by Price

Given a dictionary of fruits with their prices, filter it to include only fruits priced above 2.

```python
fruits = {'apple': 1.2, 'banana': 2.5, 'orange': 3.0, 'kiwi': 4.0}
```

**Expected Output:**
```python
{'banana': 2.5, 'orange': 3.0, 'kiwi': 4.0}
```

In [ ]:
fruits = {"apple": 1.2, "banana": 2.5, "orange": 3.0, "kiwi": 4.0}
fruits_new = {}
for key, value in fruits.items():
    if value >= 2:
      fruits_new[key] = value

fruits_new

In [61]:
fruits = {"apple": 1.2, "banana": 2.5, "orange": 3.0, "kiwi": 4.0}
fruits_new = {key: value for key, value in fruits.items() if value > 2}
fruits_new

{'banana': 2.5, 'orange': 3.0, 'kiwi': 4.0}

### Task 1.3: Employee ID to Name Mapping

Given a list of employee dictionaries, create a dictionary mapping each employee's ID to their name.

```python
employees = [
    {"id": 101, "name": "Alice", "age": 30},
    {"id": 102, "name": "Bob", "age": 25},
    {"id": 103, "name": "Charlie", "age": 35}
]
```

**Expected Output:**
```python
{101: 'Alice', 102: 'Bob', 103: 'Charlie'}
```

In [65]:
employees = [
    {"id": 101, "name": "Alice", "age": 30},
    {"id": 102, "name": "Bob", "age": 25},
    {"id": 103, "name": "Charlie", "age": 35},
]

employees_new = {employee["id"]: employee["name"] for employee in employees}
employees_new

{101: 'Alice', 102: 'Bob', 103: 'Charlie'}

In [67]:
employees = [
    {"id": 101, "name": "Alice", "age": 30},
    {"id": 102, "name": "Bob", "age": 25},
    {"id": 103, "name": "Charlie", "age": 35},
]

employees_new = {employee["id"]: employee["age"] for employee in employees if employee["age"] > 28}
employees_new

{101: 30, 103: 35}

guests = [{
    "name": "Alice",
    "age": 25,
    "code": "VIP123"
}, {
    "name": "Bob",
    "age": 17,
    "code": "VIP123"
}, {
    "name": "Charlie",
    "age": 30,
    "code": "VIP123"
}, {
    "name": "Dave",
    "age": 22,
    "code": "GUEST"
}, {
    "name": "Eve",
    "age": 29,
    "code": "VIP123"
}]



blacklist = ["Dave", "Eve"]

# Task
# People who are 21 or above and VIP123
# Blacklist are not allowed


PASS_CODE = "VIP123"

guestlist = [] # ?

In [ ]:
guests = [
    {"name": "Alice", "age": 25, "code": "VIP123"},
    {"name": "Bob", "age": 17, "code": "VIP123"},
    {"name": "Charlie", "age": 30, "code": "VIP123"},
    {"name": "Dave", "age": 22, "code": "GUEST"},
    {"name": "Eve", "age": 29, "code": "VIP123"},
]
blacklist = ["Dave", "Eve"]
PASS_CODE = "VIP123"
guestlist = []

[{'name': 'Alice', 'age': 25, 'code': 'VIP123'}, {'name': 'Bob', 'age': 17, 'code': 'VIP123'}, {'name': 'Charlie', 'age': 30, 'code': 'VIP123'}, {'name': 'Dave', 'age': 22, 'code': 'GUEST'}, {'name': 'Eve', 'age': 29, 'code': 'VIP123'}]
[{'name': 'Alice', 'age': 25, 'code': 'VIP123'}, {'name': 'Bob', 'age': 17, 'code': 'VIP123'}, {'name': 'Charlie', 'age': 30, 'code': 'VIP123'}, {'name': 'Dave', 'age': 22, 'code': 'GUEST'}, {'name': 'Eve', 'age': 29, 'code': 'VIP123'}]

In [ ]:
guests = [
    {"name": "Alice", "age": 25, "code": "VIP123"},
    {"name": "Bob", "age": 17, "code": "VIP123"},
    {"name": "Charlie", "age": 30, "code": "VIP123"},
    {"name": "Dave", "age": 22, "code": "GUEST"},
    {"name": "Eve", "age": 29, "code": "VIP123"},
]
blacklist = ["Dave", "Eve"]
pass_code = "VIP123"
guestlist = []
for guest in guests:
    if (guest["age"] >= 21 and
        guest["code"] == pass_code and
        guest["name"] not in blacklist) :
        guestlist.append(guest['name'])
print(guestlist)

[{'name': 'Alice', 'age': 25, 'code': 'VIP123'}, {'name': 'Charlie', 'age': 30, 'code': 'VIP123'}]

In [80]:
guestlist = [
    guest
    for guest in guests
    if (
        guest["age"] >= 21
        and guest["code"] == pass_code
        and guest["name"] not in blacklist
    )
]
print(guestlist)

[{'name': 'Alice', 'age': 25, 'code': 'VIP123'}, {'name': 'Charlie', 'age': 30, 'code': 'VIP123'}]

# Task 2 (Challenging)
# Use nested dictionary comprehension to create a dictionary of restaurants with items under $10

# Restaurant menus with emoji food items and prices
restaurant_menus = [
    {
        "restaurant": "Italian Place",
        "menu": {"ğŸ•": 12.99, "ğŸ": 10.99, "ğŸ¥–": 3.99, "ğŸ¥—": 7.99},
    },
    {
        "restaurant": "Burger Joint",
        "menu": {"ğŸ”": 8.99, "ğŸŸ": 3.99, "ğŸ¥¤": 1.99, "ğŸ¦": 4.99},
    },
    {
        "restaurant": "Sushi Bar",
        "menu": {"ğŸ£": 15.99, "ğŸœ": 12.99, "ğŸ™": 6.99, "ğŸ¶": 9.99},
    },
    {
        "restaurant": "Health Spot",
        "menu": {"ğŸ¥—": 9.99, "ğŸ¥™": 8.99, "ğŸ¥‘": 4.99, "ğŸ¥": 3.99},
    },
]


# Expected output
# Output
{
    "Italian Place": {"ğŸ¥–": 3.99, "ğŸ¥—": 7.99},
    "Burger Joint": {"ğŸ”": 8.99, "ğŸŸ": 3.99, "ğŸ¥¤": 1.99, "ğŸ¦": 4.99},
    "Sushi Bar": {"ğŸ™": 6.99},
    "Health Spot": {"ğŸ¥™": 8.99, "ğŸ¥‘": 4.99, "ğŸ¥": 3.99},
}

In [81]:
restaurant_menus = [
    {
        "restaurant": "Italian Place",
        "menu": {"ğŸ•": 12.99, "ğŸ": 10.99, "ğŸ¥–": 3.99, "ğŸ¥—": 7.99},
    },
    {
        "restaurant": "Burger Joint",
        "menu": {"ğŸ”": 8.99, "ğŸŸ": 3.99, "ğŸ¥¤": 1.99, "ğŸ¦": 4.99},
    },
    {
        "restaurant": "Sushi Bar",
        "menu": {"ğŸ£": 15.99, "ğŸœ": 12.99, "ğŸ™": 6.99, "ğŸ¶": 9.99},
    },
    {
        "restaurant": "Health Spot",
        "menu": {"ğŸ¥—": 9.99, "ğŸ¥™": 8.99, "ğŸ¥‘": 4.99, "ğŸ¥": 3.99},
    },
]
cheap_restuarants = {}
for restuarant in restaurant_menus:
    restaurant_name = restuarant["restuarant"]
    new_menu = {}
    for food, price in restuarant["menu"].items():
        if price < 10:
            new_menu[food] = price

cheap_restuarants[restaurant_menus] = new_menu
cheap_restuarants

KeyError: 'restuarant'