# Intro List 
- Holds multiple values
- Same data types (Recommened)
- Methods
   - C 
   - R 
   - U 
   - D

In [63]:
x = 3
y = 10
print(x + y)

13

In [64]:
mark_1 = 90
mark_2 = 80
mark_3 = 75

In [65]:
marks = [80, 90, 70, 45, 95 ]
print(marks, type(marks))

[80, 90, 70, 45, 95] <class 'list'>

In [66]:
values = [True, "abc", 6]
print( values)

[True, 'abc', 6]

In [67]:
marks = [80, 90, 70, 45, 95]
print (marks[2])

70

In [68]:
print(marks[-1])
print(marks[4])

95
95

In [69]:
print(marks[1:5])
print(marks[1:])

[90, 70, 45, 95]
[90, 70, 45, 95]

In [70]:
fruits = ["ðŸŽ", "ðŸŠ", "ðŸ“", "ðŸ"]  # list of strings
vegetables = ["ðŸ¥•", "ðŸ¥’", "ðŸ†", "ðŸ¥”"]

fruits + vegetables

['ðŸŽ', 'ðŸŠ', 'ðŸ“', 'ðŸ', 'ðŸ¥•', 'ðŸ¥’', 'ðŸ†', 'ðŸ¥”']

In [71]:
vegetables * 2

['ðŸ¥•', 'ðŸ¥’', 'ðŸ†', 'ðŸ¥”', 'ðŸ¥•', 'ðŸ¥’', 'ðŸ†', 'ðŸ¥”']

In [72]:
vegetables = ["carrots ðŸ¥•", "ðŸ¥’", "ðŸ†", "ðŸ¥”"]
len(vegetables)

4

In [73]:
fruits = ["ðŸŽ", "ðŸŠ", "ðŸ“", "ðŸ"]
fruits[1] = "ðŸ«"
fruits

['ðŸŽ', 'ðŸ«', 'ðŸ“', 'ðŸ']

In [74]:
marks = [80, 90, 70, 45, 95]
for i in range(5):
    print (i, marks[i])

0 80
1 90
2 70
3 45
4 95

In [75]:

marks = [80, 90, 70, 45, 95]
for i in range(len(marks)):
    print (i, marks[i])

0 80
1 90
2 70
3 45
4 95

Task 1.1
Find the letters in each characters name and stored in a new list
 
```py
avengers = [
    "Hulk",
    "Iron man",
    "Black widow",
    "Captain america",
    "Spider man",
    "Thor",
]
```

In [76]:
avengers = [
    "Hulk",
    "Spider man",
    "Iron man",
    "Black widow",
    "Captain america",
    "Spider man",
    "Thor",
]

avengers.pop(2)
avengers

['Hulk', 'Spider man', 'Black widow', 'Captain america', 'Spider man', 'Thor']

In [77]:
avengers = [
    "Hulk",
    "Spider man",
    "Iron man",
    "Black widow",
    "Captain america",
    "Spider man",
    "Thor",
]

avengers.remove("Spider man")
avengers

['Hulk', 'Iron man', 'Black widow', 'Captain america', 'Spider man', 'Thor']

In [78]:
# Tak 1.1
avengers = [
    "Hulk",
    "Iron man",
    "Black widow",
    "Captain america",
    "Spider man",
    "Thor",
]
result = [] # new list

for name in range(len(avengers)): # for loop
    count = (len(avengers[name])) # counts the no. elements in name
    result.append(count) # new list was empty so we append to populate with count
result

[4, 8, 11, 15, 10, 4]

In [79]:
#Task 1.2

avengers = [
    "Hulk",
    "Iron man",
    "Black widow",
    "Captain america",
    "Spider man",
    "Thor",
]
result = []  # new list

for name in range(len(avengers)):  # for loop
    count = len(avengers[name])  # counts the no. elements in name
    if (count >= 10): #if lenght count is greater than or equal to 10
        result.append(avengers[name])  # new list was empty so we append to populate with count
result

['Black widow', 'Captain america', 'Spider man']

## Task 2.1
 
Calculate the total of shopping_items & apply tax of 10%
 
```py
shopping_items = [1000, 5000,  4000, 2000, 3000]
```
 
 
Expected Output
 
```
Your total is R15000
Tax is 10%      R1500
Your grand total is R16500
```

In [80]:
shopping_items = [1000, 5000, 4000, 2000, 3000]
total = 0

for item in shopping_items:
    total += item

tax = total * 0.1

grand_total = total + tax

print(f"""
Your total is R{total}
Tax is 10% R{tax}
Your grand total is R{grand_total}
""")

Your total is R15000
Tax is 10% R1500.0
Your grand total is R16500.0

In [81]:
shopping_items = [1_000, 5_000, 4_000, 2_000, 3_000]
total = 0

for item in shopping_items:
    total += item

tax = total * 0.1

grand_total = total + tax

total
tax
grand_total

16500.0

powers = [90, 80, 50, 65]
 
# Simple for loop
for power in powers:
    print(power, power*2)

In [82]:
powers = [90, 80, 50, 65]

for power in powers:
    print(power*2)

180
160
100
130

scrambled_message = "world the save to time no is there"
 
# Output
# there is no time to save the world

In [83]:
scrambled_message = "world the save to time no is there"

list = scrambled_message.split(" ")
reversed_list= " ".join(list[::-1])
print(reversed_list)

there is no time to save the world

# Task 1.2

```py
playlist = "ðŸŽµDancing Queen;ðŸŽ¸Sweet Child O' Mine;ðŸŽ¹Piano Man;ðŸŽ¤Bohemian Rhapsody;ðŸŽºAll That Jazz"
```

## Output
My favorite playlist:
1. ðŸŽµDancing Queen
2. ðŸŽ¸Sweet Child O' Mine
3. ðŸŽ¹Piano Man
4. ðŸŽ¤Bohemian Rhapsody
5. ðŸŽºAll That Jazz

In [84]:
playlist = "ðŸŽµDancing Queen;ðŸŽ¸Sweet Child O' Mine;ðŸŽ¹Piano Man;ðŸŽ¤Bohemian Rhapsody;ðŸŽºAll That Jazz"
print("My favourite playlist is: ")

string = playlist.split(';')
for s in range(len(string)):
    print(f"{s+1}.{string[s]}")

My favourite playlist is:
1.ðŸŽµDancing Queen
2.ðŸŽ¸Sweet Child O' Mine
3.ðŸŽ¹Piano Man
4.ðŸŽ¤Bohemian Rhapsody
5.ðŸŽºAll That Jazz

In [85]:
marks = [1, 2, 3]
m1,m2,m3 = marks
print(m1,m2,m3)

1 2 3

In [ ]:
#Task 1.1(without unpacking)
from math import sqrt


points = [(3, 4), (6, 12), (10, 13)]
distance_1 = []

for point in points:
    distance = (point[0]**2 + point[1]**2)**0.5
    distance_1.append(round(distance, 2))


print(distance_1)

[5.0, 13.42, 16.4]

In [87]:
# Task 1.2 (with unpacking)

points = [(3, 4), (6, 12), (10, 13)]
distance_2 = []

for x,y in points:
    distance = (x ** 2 + y ** 2)**0.5
    distance_2.append(round(distance, 2))

print(*distance_2)

5.0 13.42 16.4

## Task 1.1
Please provide the list of book titles


```python
books = [
    {"title": "Infinite Jest", "rating": 4.5, "genre": "Fiction"},
    {"title": "The Catcher in the Rye", "rating": 3.9, "genre": "Fiction"},
    {"title": "Sapiens", "rating": 4.9, "genre": "History"},
    {"title": "A Brief History of Time", "rating": 4.8, "genre": "Science"},
    {"title": "Clean Code", "rating": 4.7, "genre": "Technology"},
]

```

### Expected Output
```
["Infinite Jest",  "The Catcher in the Rye", "Sapiens",  "A Brief History of Time",  "Clean Code"]
```

In [ ]:
books = [
    {"title": "Infinite Jest", "rating": 4.5, "genre": "Fiction"},
    {"title": "The Catcher in the Rye", "rating": 3.9, "genre": "Fiction"},
    {"title": "Sapiens", "rating": 4.9, "genre": "History"},
    {"title": "A Brief History of Time", "rating": 4.8, "genre": "Science"},
    {"title": "Clean Code", "rating": 4.7, "genre": "Technology"}
]
book_genre = []

for book in books:
 if book["genre"] == "Fiction":
    book_genre.append(book["genre"])

print(book_genre)

['Fiction', 'Fiction']

In [ ]:

books = [
    {"title": "Infinite Jest", "rating": 4.5, "genre": "Fiction"},
    {"title": "The Catcher in the Rye", "rating": 3.9, "genre": "Fiction"},
    {"title": "Sapiens", "rating": 4.9, "genre": "History"},
    {"title": "A Brief History of Time", "rating": 4.8, "genre": "Science"},
    {"title": "Clean Code", "rating": 4.7, "genre": "Technology"},
]
book_titles =[]
for book in books:
  book_titles.append(book["title"])

print(' , '.join(book_titles))

Infinite Jest , The Catcher in the Rye , Sapiens , A Brief History of Time , Clean Code

In [ ]:
books = [
    {"title": "Infinite Jest", "rating": 4.5, "genre": "Fiction"},
    {"title": "The Catcher in the Rye", "rating": 3.9, "genre": "Fiction"},
    {"title": "Sapiens", "rating": 4.9, "genre": "History"},
    {"title": "A Brief History of Time", "rating": 4.8, "genre": "Science"},
    {"title": "Clean Code", "rating": 4.7, "genre": "Technology"},
]
fiction_titles = []

for book in books:
    if book["genre"].lower == "fiction":
        fiction_titles.append(book["title"])

In [91]:
books = [
    {"title": "Infinite Jest", "rating": 4.5, "genre": "Fiction"},
    {"title": "The Catcher in the Rye", "rating": 3.9, "genre": "Fiction"},
    {"title": "Sapiens", "rating": 4.9, "genre": "History"},
    {"title": "A Brief History of Time", "rating": 4.8, "genre": "Science"},
    {"title": "Clean Code", "rating": 4.7, "genre": "Technology"},
]


highest_rated_book = []
for book in books:
    if book["rating"] >= 4:
        highest_rate= book["rating"]
        highest_rated_book = book
        print(book["title"], highest_rated_book["genre"], book["rating"])

print(f"The highest rated book is {highest_rated_book['title']} with a rating of {highest_rated_book['rating']}")

Infinite Jest Fiction 4.5
Sapiens History 4.9
A Brief History of Time Science 4.8
Clean Code Technology 4.7
The highest rated book is Clean Code with a rating of 4.7

In [111]:

books = [
    {"title": "Infinite Jest", "rating": 5, "genre": "Fiction"},
    {"title": "The Catcher in the Rye", "rating": 3.9, "genre": "Fiction"},
    {"title": "Sapiens", "rating": 4.9, "genre": "History"},
    {"title": "A Brief History of Time", "rating": 4.8, "genre": "Science"},
    {"title": "Clean Code", "rating": 4.7, "genre": "Technology"},
]

highest_rate = 0
highest_rated_book = []
for book in books:
    if book["rating"] >= 4.7:
        highest_rate = book["rating"]
        highest_rated_book.append(book["title"])

print(f"The highest rated books are: {' , '.join(highest_rated_book[0:-1])} and {highest_rated_book[-1]}")

The highest rated books are: Infinite Jest , Sapiens , A Brief History of Time and Clean Code

In [ ]:

books = [
    {"title": "Infinite Jest", "rating": 4.9, "genre": "Fiction"},
    {"title": "The Catcher in the Rye", "rating": 3.9, "genre": "Fiction"},
    {"title": "Sapiens", "rating": 0.9, "genre": "History"},
    {"title": "A Brief History of Time", "rating": 4.8, "genre": "Science"},
    {"title": "Clean Code", "rating": 4.7, "genre": "Technology"},
]

highest_rate = 0
highest_rated_book = []
lowest_rated_book = []
for book in books:
    if book["rating"] >= 4.7:
        highest_rate = book["rating"]
        highest_rated_book.append(book["title"])

if len(highest_rated_book) ==0:
    print("There are no highly rated books")
elif len(highest_rated_book) == 1:
     print(f"Highest rated book is: {highest_rated_book[0]}")
else:
    lowest_rated_book = " , ".join(highest_rated_book[:-1])
    print(f"The highest rated books are: {' , '.join(highest_rated_book[0:-1])} and {highest_rated_book[-1]}")

The highest rated books are: Infinite Jest , A Brief History of Time and Clean Code