### Task
Write a function that transforms a list of student records into a dictionary keyed by student ID, with values containing all their course scores.

```python
records = [
    {"student_id": "S001", "course": "Python", "score": 85},
    {"student_id": "S002", "course": "Java", "score": 92},
    {"student_id": "S001", "course": "SQL", "score": 78},
    {"student_id": "S003", "course": "Python", "score": 88},
    {"student_id": "S002", "course": "Python", "score": 90},
    {"student_id": "S001", "course": "Java", "score": 65},
]

def transform_records(records_list):
    # Transform the records into a dictionary by student_id
    # with nested dictionaries of courses and scores
    pass

# Test your function
student_records = transform_records(records)
for student_id, courses in student_records.items():
    print(f"Student {student_id}: {courses}")
```

### Expected Output
```
Student S001: {'Python': 85, 'SQL': 78, 'Java': 65}
Student S002: {'Java': 92, 'Python': 90}
Student S003: {'Python': 88}

In [ ]:
# Task
# Write a function that transforms a list of student records into a dictionary keyed by student ID, with values containing all their course scores.

# Exercise 14: Dictionary Transformation (⭐⭐⭐⭐)

records = [
    {"student_id": "S001", "course": "Python", "score": 85},
    {"student_id": "S002", "course": "Java", "score": 92},
    {"student_id": "S001", "course": "SQL", "score": 78},
    {"student_id": "S003", "course": "Python", "score": 88},
    {"student_id": "S002", "course": "Python", "score": 90},
    {"student_id": "S001", "course": "Java", "score": 65},
]
def transform_records(records_list):